
/* responsive css*/

@media (min-width:992px) {

.bg-lines{
	background: url(https://uurehman.github.io/digitaltribe-resources/Insta/images/bg.svg);
	/*background-size: cover;*/
	background-size: 110%;

	background-position: 0px 70px;
}
.instaf{
	height: 140px;
}
	
	
	
}

/* Tabe Screen Media */

@media (min-width: 769px) and (max-width: 991px){

.bg-lines{
	background: #FBFBFB;
}
.single_abouts h2{
	font-size: 30px;
}
.instaf{
	height: 200px;
}
	
}

/* Mobile Phone Screen Media */

@media (max-width: 768px){
.single_abouts h2{
	font-size: 25px;
}
.instaf{
	height: 150px;
}
		
}

/* Mobile Phone Screen Media */

@media screen (min-width: 320px) and (max-width: 480px){

		
}