/* responsive css*/
@media (min-width:1200px) {
	.bg-lines{background: url(../images/bg.svg) #FFFFFF;background-size: cover;background-size: 110%;background-position: 0px 50px;width: 1280px;padding: 0px auto; margin-top: -8em;}
	.instaf-image{height: 120px;}
	.mt-lg-5{margin-top:3rem;}
	.bees-image{margin-bottom: 60px;}
	.not-lg-only{display: none;}
	.lg-only{display: block;}
	.mobile-svg{height: 320px;}
	.insta-shot-slider{z-index: 555; position: absolute; margin: -492px 0px 0px -16px;width:55px;height:113px;}
	.insta-shot-slides{width:55px;height:113px;transform: scale(0.292);}
	.insta-shot-slides img{width:55px;height:113px;}

}

/*3:4 aspect ratio screens*/
@media (min-width: 991px) and (max-width: 1199px){
	.phone-patels-image{display: none;}
	.bees-image{display: none;}
	.bees-image-mob{display: block;}
	.not-lg-only{display: none;}
	.lg-only{display: block;}
	.mobile-svg{height: 320px;}
	.insta-shot-slider{z-index: 555; position: absolute; margin: -400px 0px 0px -16px;}

}

@media (max-width: 990px){
	.mob-padding{padding: 50px 20px 0px 20px !important;}
	.get-started-mob-resposive{padding-top: 160px;}
	.awenawe{margin-top: 6rem!important;}
	.make-a-call-btn{margin-top: 10px;}
	.bg-lines{background: #FFFFFF;}
	.single_abouts{text-align: center;}
	.single_abouts h2{margin-top: 80px;}
	.section-description{text-align:center;}
	.mt-lg-5{margin-top:0px;}
	.instaf-image{height: 120px;margin-top: 10px;}
	.hand-image{margin-top: 10px;height: 250px;}
	.phone-patels-image{display: none;}
	.phone-patels-image-mob{height: 250px;margin-top: 10px;}
	.bees-image{display: none;}
	.bees-image-mob{height: 200px; margin: 10px;}
	.not-lg-only{display: block;}
	.lg-only{display: none;}
	.header-grad{margin-top: 200px; padding-top: 180px;}
	.mobile-svg-div{margin-top: 50px;}
	.mobile-svg{height: 480px;}

}