/* responsive css*/
@media (min-width:1200px) {
	.bg-lines{background: url(../images/bg.svg) #FFFDFD;background-size: cover;background-size: 110%;background-position: 0px 50px;width: 1280px;padding: 0px auto;}
	.instaf-image{height: 150px;}
	.mt-lg-5{margin-top:3rem;}
}

/*3:4 aspect ratio screens*/
@media (min-width: 991px) and (max-width: 1199px){
	.phone-patels-image{display: none;}
	.bees-image{display: none;}
	.bees-image-mob{display: block;}
}

/* Tab Screen Media */
@media (min-width: 769px) and (max-width: 990px){
	.single_abouts h2{font-size: 25px;}
	.single_abouts p{font-size: 18px;}
	.instaf-image{height: 200px;}
	

}

/* Mobile Phone Screen Media */
@media (max-width: 768px){
	.single_abouts h2{font-size: 22px;}
	.single_abouts p{font-size: 16px;}
	.instaf-image{height: 160px;}
	

}

/* Mobile Phone Screen Media */
@media screen (min-width: 320px) and (max-width: 480px){
	.single_abouts h2{font-size: 14px;}
	.single_abouts p{font-size: 10px;}
	.instaf-image{height: 120px;}

}

@media (max-width: 990px){
	.bg-lines{background: #FFFFFF;}
	.single_abouts{text-align: center;}
	.section-description{text-align:center;}
	.mt-lg-5{margin-top:0px;}
	.hand-image{margin: 0;}
	.phone-patels-image{display: none;}
	.bees-image{display: none;}
	.bees-image-mob{height: 400px;}

}