
/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
	color: #555555;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	font-size:15px;
}


/*==========================================
PRE LOADER 
==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}
.top-margin {
	margin-top: 96px;
}
.bottom-margin {
	margin-bottom: 96px;
}
img{max-width:100%;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-control {
	border: 0px solid transparent;
	font-size: 16px;	
	height: 45px;
	border-bottom:1px solid #ddd;
	background-color: rgba(255, 255, 255, 0);
	border-radius:0;
	-webkit-box-shadow:0;
	box-shadow:inset 0 0px 0px rgba(0,0,0,0.075);
}
.form-control:focus {
	border-color: #f9ce12;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
p {
	font: normal 16px "Myriad Pro", arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 { color: #333333;}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
	line-height: 38px;
	font-weight: 600;
	margin: 0;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}


h4 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	text-transform: uppercase;
	}

h5 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}

h6 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}

a:hover{
	text-decoration:none;
}

p.section-description{
	font-size:20px;
	font-weight:300;
	text-align:center;
}

.pink-btn {
	background: #e0356e;
	border: none;
	margin-left: 10px;
}

.pink-btn:hover {

	background-color: #f79b23;
	color: #fff;
	text-decoration: none;
}
.sections {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
	
}
.separetor{
	background:url(../images/spr.png) no-repeat center center;
	overflow:hidden;
	padding:20px 0px 30px 0px;
}
.scrolldown {
	padding-top: 24px;
}

.banner .scroll_btn {
	background: url(../images/scroll.gif) 50% 50% no-repeat rgba(215, 181 ,94, 0);
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	height: 45px;
	margin: 42px auto;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-0-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
	width: 45px;
	position:absolute;
	left:47%;
	bottom:0;
}

.banner .scroll_btn:hover {
	background: url(../images/scroll.gif) 50% 50% no-repeat #64C08A;
	opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-webkit-opacity: .85;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);

}



/* Banner section */

.banner{
	/*background:  #A9D9BC;*/
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) #d6249f;
	position:relative;
}

.main_banner_area{
	padding:300px 0px 50px 0px;
	overflow:hidden;
}

.single_banner_text{
	font-size:40px;
	color:#FFFFFF;
	text-shadow: 0px 0px 30px #777;
}

.background-logo {
	z-index: -321;
	opacity: 0.2;
}

img.digital-tribe-big-icon {
	margin-top: -250px;
	height: 75vh;
	width: auto;
}

.forground-text{
	margin-top: -150px;
	z-index: 321;
}

.make-a-call-btn{
	z-index: 321;
}

.single_special_overlay{
	background:rgba(221, 221, 221, 0.8);
	padding:20px 10px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition:.6s;
	opacity:0;
}
.overlay_separetor {
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto;
}
.single_special_overlay h3{
	color:#666;
	font-size:18px;
}
.single_special_overlay p{
	color:#666;
	font-size:16px;
	font-weight:300;
	margin-top:20px;
}


/* Abouts Section */
.head_title{
	padding-bottom:50px;
	color:#40DD92!important;
}



/* Contact Section */

.main_contact_content{
	
}
.single_contact{
    margin-bottom: 80px;
	margin-left:10px;
}
.single_contact h5{
	margin-bottom:10px;
}
.single_contact span{
	display:block;
}

.contact_form_area{}

.contact_form_area h3{
	font-size:18px;
	text-transform:uppercase;
	padding:12px;
	margin-bottom:20px;
}
.form_btn_area{
	
}



/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #000;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}
