body {color: #555555;-webkit-font-smoothing: antialiased;width: 100%;}
.top-margin {margin-top: 96px;}
.bottom-margin {margin-bottom: 96px;}
img{max-width:100%;}
p {font: 10px;font-weight: 400;padding: 10px 0px; }
h1,h2,h3,h4,h5,h6 { color: #333333;}
h1 {font-weight: 600;text-transform: uppercase;}
h2 {font-size: 20px;font-weight: 500;margin: 0;text-transform: uppercase;}
h3 {font-size: 30px;line-height: 32px;font-weight: 600;text-transform: uppercase;margin: 0;}
h4 {font-size: 24px;line-height: 26px;font-weight: 600;text-transform: uppercase;}
h5 {font-size: 20px;line-height: 22px;font-weight: 600;text-transform: uppercase;margin: 0;text-decoration none;}
h6 {font-size: 18px;line-height: 20px;font-weight: 600;text-transform: uppercase;margin: 0;text-decoration none;}
ul{margin:0;padding:0;list-style:none;}
a:hover{text-decoration:none;}
.section-description{text-align:left;}
.sections {padding-top: 20px;position: relative;min-height: 340px;}
.single_abouts p{font-size: 18px; line-height: 1.85em;}
.single_abouts h2{text-transform: none;}

/*Header and fooder*/
.make-a-call-btn{background: #FFCF00; color: #467071 !important; border-radius: 0px; border: none; animation-duration: 0.3s;font-weight: 600; font-size: 14px; padding: 10px 15px;}
.make-a-call-btn:hover{background: linear-gradient(#FFCF00,  #F2AC3D) #FFCF00;}
.footer-grad{background: linear-gradient(to bottom right, #377172, #00393B) #467071; padding: 25px; margin-bottom: 10px;}
.header-grad{padding: 40px 1px; margin-top: 160px; position: absolute;}
.ready-get-started{color: #FFFFFF; text-transform: none; font-size: 30px;font-weight: 450;}
.ready-get-started-footer{font-size: 22px;}
.mobile-svg-div{margin: 50px 60px 20px 60px; z-index: 222;}
.mobile-svg{ position: relative;top: 0px; left: 0px;}
/*.insta-shot-slider{z-index: 555; position: absolute; margin: -492px 0px 0px -16px;}*/
/*.insta-shot-slides{width:55px;height:113px;transform: scale(0.292);}*/


/*SVG Images*/ 
.instaf-image{margin: 40px 0 0 -30px;}
.hand-image{height: 480px;margin:-40px 0px 0px 20px;}
.phone-patels-image{height: 317px; margin: -20px 0 0 -160px;}
.bees-image{height: 320px; margin: -35px 0 0 210px;}
.bees-image-mob{height: 390px;}

/*Square space styles*/
#container{max-width: 50000px !important;margin: 0px !important;overflow: visible !important;}
#container-content{padding: 0px !important;}
.col{padding-left: 0px !important;}
