body {color: #555555;-webkit-font-smoothing: antialiased;width: 100%;}
.top-margin {margin-top: 96px;}
.bottom-margin {margin-bottom: 96px;}
img{max-width:100%;}
p {font: 10px;font-weight: 400;padding: 10px 0px; }
h1,h2,h3,h4,h5,h6 { color: #333333;}
h1 {font-weight: 600;text-transform: uppercase;}
h2 {font-size: 20px;font-weight: 500;margin: 0;text-transform: uppercase;}
h3 {font-size: 30px;line-height: 32px;font-weight: 600;text-transform: uppercase;margin: 0;}
h4 {font-size: 24px;line-height: 26px;font-weight: 600;text-transform: uppercase;}
h5 {font-size: 20px;line-height: 22px;font-weight: 600;text-transform: uppercase;margin: 0;text-decoration none;}
h6 {font-size: 18px;line-height: 20px;font-weight: 600;text-transform: uppercase;margin: 0;text-decoration none;}
ul{margin:0;padding:0;list-style:none;}
a:hover{text-decoration:none;}
.section-description{text-align:left;}
.sections {
    padding-top: 20px;
    position: relative;
    min-height: 340px;
}
.single_abouts p{font-size: 18px; line-height: 1.85em;}
.single_abouts h2{text-transform: none;}
/*Header and fooder*/
.make-a-call-btn{background: #FFCF00; color: #467071 !important; border-radius: 0px; border: none; animation-duration: 0.3s;font-weight: 450;}
.make-a-call-btn:hover{background: linear-gradient(#FFCF00,  #F2AC3D) #FFCF00;}
.footer-grad{background: linear-gradient(#377172, #00393B) #467071; padding: 20 0 60px 0; margin-bottom: 10px;}
.ready-get-started{color: #FFFFFF; text-transform: none; font-size: 25px;font-weight: 400;}
/*SVG Images*/ 
.instaf-image{margin: 40px 0 0 -30px;}
.hand-image{height: 480px;margin:-40px 0px 0px 20px;}
.phone-patels-image{height: 315px; margin: -20px -130px 0 0;}
.bees-image{height: 320px; margin: -35px 0 0 210px;}
.bees-image-mob{height: 390px;}